// 제목 글씨체
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

// 내용 글씨체
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.bookWrap {
  display: flex;
  flex-wrap: wrap;
}

.itemId {
  margin: 10px;
}

.bookImg {
  width: 150px;
}

.headerContainer {
  display: flex;
  justify-content: space-between; /* 제목과 버튼을 양 끝에 배치 */
  align-items: center; /* 세로 정렬 중앙 정렬 */
  margin-top: -50px;
  width: 100%; /* 전체 너비 */
  padding: 0 20px; /* 양쪽 여백 */
}

.categoryTitle {
  font-size: 25px;
  margin-left: 20px;
  display: flex; /* 내부 요소 정렬 */
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-5%);
  font-family: 'Freesentation-9Black';
  width: 100%;
}

.btnMore {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;

  color: white;
  background-color: gray;
  border: none;
  border-radius: 20px; /* 둥근 모양 */
  cursor: pointer;
  padding: 7px 14px; /* 버튼 크기 조정 */
  font-size: inherit;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 호버 효과를 위한 전환 */
}

.btnMore:hover {
  background-color: darkblue; /* 호버 시 색상 변경 */
  transform: scale(1.05); /* 약간 확대 효과 */
}

.btnMore:active {
  transform: scale(0.95); /* 클릭 시 살짝 줄어드는 효과 */
}


.bookListContainer {
  display: flex;
  flex-direction: row; // 기본값: 가로 정렬
  flex-wrap: nowrap; // 항목이 한 줄에 유지되도록 설정
  overflow-x: auto; // 한 줄에 맞지 않으면 가로 스크롤 생성
  gap: 20px; // 각 아이템 간 간격
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 150px;
  border-radius: 8px;
}

.bookItem {
  min-width: 200px; // 각 도서 블록의 최소 너비 설정
  height: 400px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'SUITE-Regular';
}

.bookImage {
  width: 150px; /* 고정된 너비 설정 */
  height: 200px; /* 고정된 높이 설정 */
  object-fit: cover; /* 비율을 유지하면서 잘 맞도록 조정 */
  border-radius: 4px; /* 모서리 둥글게 설정 (선택 사항) */
  margin-top: 20px;
  margin-bottom: 10px;
}

