// 제목 글씨체
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

// 내용 글씨체
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.postListTitle {
  font-size: 25px;
  margin-top: -20px;
  margin-left: 20px;
  display: flex; /* 내부 요소 정렬 */
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-5%);
  font-family: 'Freesentation-9Black';
  width: 100%;
}

.containerBtnPostList {
  display: flex; /* 버튼 정렬을 위한 플렉스 컨테이너 설정 */
  justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
  margin-top: -50px;
  margin-right: 20px;
}

.btnPostList {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'SUITE-Regular';
}

.postList {
  margin: 20px;
}

.postItem {
  font-family: 'SUITE-Regular';
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.postItem h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.postItem p {
  margin: 5px 0;
  color: #555;
}

.postItem small {
  display: block;
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}
